<div class="container">
  <h1 routerLink="/">YDD Portfolio</h1>

  <!-- <ul class="linksPage">
    <li>Homepage</li>
    <li>About</li>
    <li>Esperienza</li>
    <li>Progetti</li>
    <li>Giochi</li>
    <li>Contatti</li>
  </ul> -->

  <div class="hamburger-menu" (click)="showHideDropdown()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="linksDropdown hidden fade-in-rightLeft" #linksDropdown (click)="hideDrop()">
    <div routerLink="/">
      <span><i class="fa-solid fa-house"></i></span>
    </div>
    <div routerLink="/about">
      <span>Chi sono?</span>
    </div>
    <div routerLink="/experience">
      <span>Esperienze</span>
    </div>
    <div routerLink="/projects">
      <span>Progetti</span>
    </div>
    <div routerLink="/modellazione3d">
      <span>3D</span>
    </div>
    <div routerLink="/contacts">
      <span>Contatti</span>
    </div>
  </div>

  <ul class="linksPage">
    <li routerLink="asd" routerLinkActive="active">404 temp</li>
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Homepage
    </li>
    <li routerLink="about" routerLinkActive="active">Chi Sono</li>
    <li routerLink="experience" routerLinkActive="active">Esperienza</li>
    <li routerLink="projects" routerLinkActive="active">Progetti</li>
    <li routerLink="modellazione3d" routerLinkActive="active">3D</li>
    <li routerLink="contacts" routerLinkActive="active">Contatti</li>
  </ul>

  <div class="overlay hidden" (click)="hideDrop()"></div>
</div>
