<section>
  <a href="https://github.com/yurididomenico" target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/yuri-di-domenico-218858150/"
    target="_blank"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://www.instagram.com/dido_render/" target="_blank">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a
    href="https://www.youtube.com/channel/UCvQmn0hGaqz56i_dltBaWbQ"
    target="_blank"
  >
    <i class="fa-brands fa-youtube"></i>
  </a>
</section>
