<div class="container">
  <div class="titolo-pagina">Esperienze</div>

  <div class="area-carte">
    <div class="esperienze-carta">
      <div class="esperienza-posizione">
        Sviluppatore Web Frontend Junior - Angular
      </div>

      <app-line></app-line>

      <div class="esperienza-descrizione">
        Tirocinio formativo di sei mesi presso Cineca, dove ho avuto la possibilità di imparare e sperimentare il
        framework Angular.
        <br><br>
        Ho testato componenti aziendali e contribuito alla documentazione della libreria aziendale, creando guide e
        tutorial per gli sviluppatori.
        <br><br>
        Ho lavorato su un progetto seguendo e risolvendo le task affidatemi, implementando funzioni lato frontend.
        <br><br>
        Mi hanno insegnato ad usare Jira e GitLab per la rendicontazione e salvataggio del lavoro.
        Mi hanno insegnato a lavorare secondo la metodologia Agile.
      </div>
    </div>

    <!-- ------------------------------------ -->

    <div class="esperienze-carta">
      <div class="esperienza-posizione">
        Magazziniere Amazon - Picker
      </div>

      <app-line></app-line>

      <div class="esperienza-descrizione">
        Periodo lavorativo dove gestivo gli articoli che il cliente ordinava da casa,
        effettuavo il controllo della qualità,
        organizzavo il magazzino in modo ordinato per una sicura e corretta viabilità.
        <br><br>
        Tra una sessione di picking ed un'altra facevo uso del transpallet manuale o automatico per mansioni riguardanti
        lo stoccaggio merci, lo spostamento di pallet e l'organizzazione del magazzino.
      </div>
    </div>

    <!-- ------------------------------------ -->

    <div class="esperienze-carta">
      <div class="esperienza-posizione">
        Modellatore 3d - Animatore 3d - Renderista
      </div>

      <app-line></app-line>

      <div class="esperienza-descrizione">
        Periodo lavorativo dove mi occupavo di modellare oggetti 3d in base alle richieste del leader.
        <br><br>
        Ho rappresentato attraverso rendering ambienti interni, ambienti esterni riguardanti i vari progetti richiesti.
      </div>
    </div>

    <!-- ------------------------------------ -->

    <div class="esperienze-carta">
      <div class="esperienza-posizione">
        Vari lavori
      </div>

      <app-line></app-line>

      <div class="esperienza-descrizione">
        <ul>
          <li>Banconista / Aiuto pizzaiolo</li>
          <li>Operatore di giardinaggio</li>
          <li>Volantinaggio</li>
          <li>Traslocatore</li>
          <li>Operaio agricolo</li>
          <li>Fattorino</li>
        </ul>
      </div>
    </div>
  </div>
</div>
