<div class="container">
  <div class="titolo-pagina">Contatti</div>

  <div class="contatto">
    <img src="assets/img/logoGmail.png" alt="logo-gmail" class="width-20">
    <h4>yurididomenico93@gmail.com</h4>
  </div>

  <a href="https://www.linkedin.com/in/yuri-di-domenico-218858150/" class="contatto">
    <img src="assets/img/logoLinkedin.png" alt="logo-linkedin" class="width-20">
    <h4>Yuri Di Domenico</h4>
  </a>

  <a href="https://github.com/yurididomenico" class="contatto">
    <img src="assets/img/logoGit.png" alt="logo-gmail" class="width-20">
    <h4>yurididomenico</h4>
  </a>

  <div class="contatto">
    <i class="fa-solid fa-phone width-20 text-green"></i>
    <h4>3480934162</h4>
  </div>
</div>
