<div class="container">
  <div class="left">
    <div class="chi-sono">Chi sono?</div>
    <div class="job-role">
      <p class="title">Jr Frontend Web Developer</p>
    </div>
    <p class="description">{{ description }}</p>

    <p>
      Ho iniziato il mio percorso imparando i seguenti linguaggi, framework e
      librerie:
    </p>
  </div>

  <ul class="right">
    <li><i class="fa-brands fa-html5 fa-beat" style="color: #f25320"></i></li>
    <li>
      <i class="fa-brands fa-css3-alt fa-beat" style="color: #2760e5"></i>
    </li>
    <li>
      <i class="fa-brands fa-square-js fa-beat" style="color: #f7df1e"></i>
    </li>
    <li><i class="fa-brands fa-php fa-beat" style="color: #4b568b"></i></li>
    <li><i class="fa-brands fa-laravel fa-beat" style="color: #f22b1e"></i></li>
    <li>
      <i class="fa-brands fa-bootstrap fa-beat" style="color: #7513ec"></i>
    </li>
    <li><i class="fa-brands fa-vuejs fa-beat" style="color: #3eaf7c"></i></li>
  </ul>
</div>
