@import '../../../assets/style/styleColors.scss';

.container {
  overflow-x: hidden;
  display: flex;
  margin: 0 0 50px 0;

  .imageProfile {
    width: 200px;
    height: 200px;
    margin: 0 50px 0 0;

    background-image: url("../../../assets/img/img_profile/YDD_Profile.jpg");
    background-size: 100%;
    border-radius: 100%;
  }

  *:not(i) {
    font-family: "Montserrat", sans-serif;
  }

  .person {
    margin: 0 50px 0 0;

    .title {
      font-size: 1.8rem;
      margin-top: 20px;

      h2 {
        text-decoration: underline;
        line-height: 120%;
      }
    }

    .alignDiv {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      i {
        font-size: 1.8rem;
        margin-right: 20px;
      }

      h2 {
        font-size: 40px;
        margin: 0;
      }

      h3 {
        margin: 0;
        font-size: 30px;

        .cursor {
          font-size: 25px;
        }
      }
    }

  }

  .cv {
    margin: 50px 0 0 250px;

    span {
      font-size: 30px;
    }

    ul {
      margin-top: 30px;

      li {
        margin-bottom: 30px;

        a {
          border: 1px solid $primary-color;
          margin-left: 50px;
          padding: 10px;
          border-radius: 20px;
          transition-duration: 200ms;

          &:hover {
            background-color: $primary-color;
            color: $background-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 319px) {
  .container {
    .alignDiv {
      i {
        font-size: 1rem;
      }

      h2 {
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1rem;
        line-height: 100%;

        .cursor {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .container {
    .alignDiv {
      i {
        font-size: 1rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.4rem;
        line-height: 100%;

        .cursor {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .container {
    .alignDiv {
      i {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 2rem;
        line-height: 100%;

        .cursor {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024) {

  .title {
    margin-top: 0;
  }
}
