@import '../../../assets/style/styleColors.scss';
@import '../../components/line/line.component.scss';

.container {
  overflow-x: hidden;
  display: flex;
  margin: 0 0 50px 0;
  flex-wrap: wrap;

  .imageProfile {
    width: 15vw;
    height: 15vw;
    margin: 0 50px 0 0;

    background-image: url("../../../assets/img/img_profile/YDD_Profile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 100%;
  }

  *:not(i) {
    font-family: "Montserrat", sans-serif;
  }

  .person {
    margin: 0 50px 0 0;

    .title {
      font-size: 1.8rem;
      margin-top: 20px;

      h2 {
        text-decoration: underline;
        line-height: 120%;
      }
    }

    .alignDiv {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      i {
        font-size: 1.8rem;
        margin-right: 20px;
      }

      h2 {
        font-size: 40px;
        margin: 0;
      }

      h3 {
        margin: 0;
        font-size: 30px;

        .cursor {
          font-size: 25px;
        }
      }
    }

  }

  .cv {
    margin: 0;

    span {
      font-size: 30px;
    }

    ul {
      margin-top: 30px;

      li {
        margin-bottom: 30px;

        a {
          border: 1px solid $primary-color;
          margin-left: 50px;
          padding: 10px;
          border-radius: 20px;
          transition-duration: 200ms;

          &:hover {
            background-color: $primary-color;
            color: $background-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    flex-direction: column;

    .imageProfile {
      display: block;
      width: 70vw;
      height: 70vw;
    }

    .person {
      margin: 0;

      .alignDiv {
        i {
          font-size: 1rem;
        }

        h2 {
          font-size: 1.5rem;
        }

        h3 {
          font-size: 1.4rem;
          line-height: 100%;

          .cursor {
            font-size: 1rem;
          }
        }
      }
    }

    .cv {

      span {
        font-size: 20px;
      }

      ul {

        li {

          a {
            padding: 7px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .container {
    .person {
      .alignDiv {
        i {
          font-size: 1.5rem;
        }

        h2 {
          font-size: 1.5rem;
        }

        h3 {
          font-size: 1.5rem;
          line-height: 100%;

          .cursor {
            font-size: 1.5rem;
          }
        }
      }
    }

    .cv {

      span {
        font-size: 20px;
      }

      ul {

        li {

          a {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
