<div class="container">

  <div class="imageProfile"></div>

  <div class="person">
    <div class="alignDiv title">
      <i class="fa-solid fa-chevron-right"></i>
      <h2>Yuri Di Domenico</h2>
    </div>

    <div class="alignDiv">
      <i class="fa-solid fa-chevron-right"></i>
      <h3>Modellatore 3D</h3>
    </div>

    <div class="alignDiv">
      <i class="fa-solid fa-chevron-right"></i>
      <h3>Jr. Web Developer <span class="cursor">{{ cursor }}</span></h3>
    </div>

    <app-socials></app-socials>
  </div>

  <div class="cv">
    <span>Scarica il cv:</span>
    <ul>
      <li><a href="../../../assets/documents/cv_yuri_europeo.doc">Formato europeo</a></li>
      <li><a href="../../../assets/documents/YDD_CV.pdf" download="YDD_CV.pdf">PDF</a></li>
    </ul>
  </div>
</div>
