@import 'src/assets/style/styleColors.scss';

.container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  aspect-ratio: 1/1;

  .arrowTop {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    color: $primary-color;
    height: 100%;
    border: 2px solid $primary-color;
    border-radius: 100%;
    cursor: pointer;

    .fa-chevron-up {

      font-size: 1.2rem;
    }
  }
}
