@import 'src/assets/style/styleColors.scss';

.project-card {

  .project-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    span {
      font-size: 40px;
      margin-inline: 20px;
    }
  }

  article {
    display: flex;
    justify-items: space-between;
    gap: 100px;
    margin-bottom: 180px;

    video {
      width: 70%;
      height: 500px;

      border: 5px solid black;
      border-radius: 30px;
      box-shadow: 0 0 20px $primary-color;
    }

    p {
      font-size: 22px;
      padding-top: 40px;
      line-height: 160%;
      cursor: default;
    }
  }

  .reversed-card {
    flex-direction: row-reverse;
  }
}


@media screen and (max-width: 320px) {}

@media screen and (min-width: 320px) and (max-width: 430px) {}

@media screen and (min-width: 431px) and (max-width: 768px) {}

@media screen and (max-width: 1024px) {
  .project-card {

    .project-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;

      span {
        font-size: 1.2rem;
        margin-inline: 20px;
      }
    }

    article {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      margin-bottom: 100px;

      video {
        height: 100%;
        width: 100%;
        border: 5px solid black;
      }

      p {
        font-size: 15px;
        padding-top: 0;
        line-height: 160%;
        cursor: default;
        flex-grow: 1;
      }
    }

    .reversed-card {
      flex-direction: column;
    }
  }
}
