.project-card {
  .project-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    span {
      font-size: 40px;
      margin-inline: 20px;
    }
  }

  article {
    display: flex;
    justify-items: space-between;
    gap: 100px;

    margin-bottom: 180px;

    video {
      width: 70%;
      height: 500px;
    }

    p {
      font-size: 22px;
      padding-top: 40px;
      line-height: 160%;
      cursor: default;
    }
  }

  .test {
    flex-direction: row-reverse;
  }
}
