@import 'src/assets/style/styleColors.scss';
@import 'src/assets/style/styleHeaders.scss';

.container {

  .area-carte {

    display: flex;
    flex-wrap: wrap;

    .progetto3d {

      margin-bottom: 60px;

      .titolo {
        font-size: 40px;
        margin-bottom: 50px;
      }

      .descrizione {
        font-size: 18px;
        line-height: 135%;
        margin-bottom: 20px;
        width: 50%;
      }

      .album-immagini {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .immagine {
          width: calc(100% / 3 - 20px);

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

