<div class="container">
  <div class="titolo-pagina">Galleria 3D</div>
  <div class="desc-mobile">Versione mobile, ho eliminato le descrizioni per ogni progetto per una maggiore visibilità.<br></div>
  <div class="area-carte">
    <div class="progetto3d" *ngFor="let progetto_3d of progetti_3d; index as i">
      <app-line></app-line>

      <div class="titolo">{{ progetto_3d.title }}</div>
      <div class="descrizione" [innerHTML]="progetto_3d.description">{{ progetto_3d.description }}</div>
      <div class="album-immagini">
        <div class="immagine" *ngFor="let immagine of progetto_3d.imagePaths">
          <img src="{{ immagine }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
