@import 'src/assets/style/styleColors.scss';
@import 'src/assets/style/styleHeaders.scss';

.container {

  .area-carte {
    display: flex;
    justify-content: center;
    gap: 50px;

    .progetto-carta {
      transition-duration: 200ms;
      opacity: 1;
      width: 400px;
      padding: 20px;
      border: 2px solid $primary-color;
      border-radius: 20px;
      margin-bottom: 80px;
      cursor: default;

      .progetto-posizione {
        height: 50px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
      }

      .progetto-descrizione {
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}


@media screen and (max-width: 320px) {

}

@media screen and (min-width: 320px) and (max-width: 430px) {

}

@media screen and (min-width: 431px) and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {
  .container {

    .titolo-pagina {
      font-size: 2.4rem;
    }

    .area-carte {

      flex-direction: column;
      width: 100%;

      .progetto-carta {

        width: 100%;
        margin: 0;

        .progetto-posizione {

          font-size: 1rem;
        }

        .progetto-descrizione {
          font-size: 1rem;
        }
      }
    }
  }
}
