@import 'src/assets/style/styleColors.scss';
@import 'src/assets/style/styleHeaders.scss';

.container {

  .desc-mobile {
    display: none;
    margin-bottom: 20px;
  }

  .area-carte {

    display: flex;
    flex-wrap: wrap;

    .progetto3d {

      margin-bottom: 60px;

      .titolo {
        font-size: 40px;
        margin-bottom: 50px;
      }

      .descrizione {
        font-size: 18px;
        line-height: 135%;
        margin-bottom: 20px;
        width: 50%;
      }

      .album-immagini {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .immagine {
          width: calc(100% / 3 - 20px);

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 1024px) {
  .container {

    .desc-mobile {
      display: none;
    }

    .area-carte {

      .progetto3d {

        .titolo {
          line-height: 100%;
        }

        .descrizione {
          width: 100%;
        }

        .album-immagini {

          justify-content: flex-start;

          .immagine {

            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {

    .area-carte {

      .progetto3d {

        .album-immagini {

          justify-content: flex-start;

          .immagine {

            width: 40%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {

    .desc-mobile {
      display: block;
    }

    .area-carte {

      .progetto3d {

        .descrizione {
          display: none;
        }
      }
    }
  }
}
